{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "React": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 6,
        "sourceType" : "module"
    },
    "plugins": [
        "react"
    ],
    "parser":"babel-eslint"
}
