.wu-card-box {
    position: relative;
    z-index: -2;
    box-sizing: border-box;
    float: left;
    height: $cardHeight;
    width: $cardWidth;
    background-color: $cardBgC;
    border: $cardBorderW solid $cardBorderC;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
        transition: all 2s;
    }
}

.wu-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    & > path {
        stroke-dasharray: 0;
    }
}

.wu-card-header {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 24px;
}

.wu-card-content {
    padding: 24px;
}
