$scale: 1;
$cardWidth: $scale * 200px;
$cardHeight: $scale * 320px;

$cardBgC: white;
$cardBorderW: 1px;
$cardBorderC: #eee;

$primary: #337ab7;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$shadow-primary: 0 1px 6px hsla(208, 56%, 46%, .5);
$shadow-success: 0 1px 6px hsla(120, 39%, 54%, .5);
$shadow-danger: 0 1px 6px hsla(2, 64%, 58%, .5);
$shadow-default: 0 1px 6px hsla(0, 0%, 39%, .2);
